---
- name: Executa backup de config
  hosts: Routers
  gather_facts: false

  tasks:
    - name: Coleta data e hora
      command: date +%d%m%Y%H%M
      register: timestamp


    - name: IOS-XR routers backup
      iosxr_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_{{ timestamp.stdout }}.txt"
          dir_path: /etc/ansible/
      when: ansible_network_os == "iosxr"


    - name: IOS / IOS XE routers backup
      ios_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_{{ timestamp.stdout }}.txt"
          dir_path: /etc/ansible/
      when: ansible_network_os == "ios"


    - name: Huawei routers backup
      ce_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_{{ timestamp.stdout }}.txt"
          dir_path: /etc/ansible/
      when: ansible_network_os == "ce"
